.filter-checkbox{
    padding: 10px;
}

#class-filter-checkboxes{
    display: inline-flex;
}

#controls{
    padding: 10px;
    margin: 10px;
    display: inline-flex;
}

#controls-left{

}

#axis-selects{

}

#controls-right{

}

#cell-previewer{
    /*border-style: solid;*/
    /*border: 1px;*/
    /*font-weight: 'bold';*/
    padding: 10px;
    margin:10px;
}

#cell-previewer-im{

}