html,body {
    height:100%;
}

.axis-select{
    padding: 10px;
}

#ace-scatter-blocker{
    height: 0%;
    width: 100%;
}

.previewer-label{
    padding: 10px;
}

.filter-checkbox-label{
    /*padding-left: 4px;
    vertical-align: baseline;*/
}

#ace-scatter-all-filter-buttons{
    padding: 10px;
}

.ace-scatter-button{
    min-width: 100px;
    margin: 5px;
}

#ace-scatter-cell-previewer-row{
    /*height:150px;*/
}

#ace-scatter-chart-row{
    height: 100%;
}

#ace-scatter-chart-col{
    height: 100%;
}
h4 {
    margin-top: 10px;
}
.row {
    margin-bottom: 10px;
}

.form-check-inline{
  min-width: 150px;
  margin-left: 0.75rem;
}
.image-holder{
  min-height: 140px;
}
#ace-scatter-cell-previewer-im{
  max-width: 130px;
  min-height: 130px;
}
.ace-scatter-auto{
    width: auto;
}

.border-bottom:after {
    border-bottom: solid .5px #bcbabb;
    width: 100%;
}

#ace-scatter-chart {
    height:100%;
    width:100%;
}

.ace-scatter-controls-padding{
    /*padding: 5px;*/
}

#ace-scatter-viz{
    width:100%;
    padding: 10px;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
}
