html,body {
    height:100%;
}

.axis-select{
    padding: 10px;
}

/*#chart-container{*/
/*height: 100%;*/
/*}*/

.previewer-label{
    padding: 10px;
}

#ace-scatter-all-filter-buttons{
    padding: 10px;
}

#ace-scatter-cell-previewer-row{
    /*height:150px;*/
}

#ace-scatter-chart-row{
    height: 100%;
}

#ace-scatter-chart-col{
    height: 100%;
}
h4 {
    margin-top: 10px;
}
.row {
    margin-bottom: 10px;
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}
[class*="col-"] {
//  padding-top: 15px;
//  padding-bottom: 15px;
//  background-color: #eee;
//  background-color: rgba(86,61,124,.15);
//  border: 1px solid #ddd;
//  border: 1px solid rgba(86,61,124,.2);
}

.ace-scatter-auto{
    width: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: black;
}

#ace-scatter-chart {
    height:100%;
    width:100%;
}

.ace-scatter-controls-padding{
    padding: 5px;
}

#ace-scatter-viz{
    height:100%;
    width:100%;
    padding: 10px;
}